<%- include('./header.ejs') %>



    <!-- body content  -->
    <div class="belowmynavbar">
        <div class="aboutus text-center">
            <h2>About Us</h2>
        </div>
        <div class="container my-4">
            <div class="container">
                <div class="row featurette d-flex justify-content-center align-items-center ">
                    <div class="col-md-7 ">
                        <h2 class="featurette-heading fw-normal lh-1">Our Campus.
                        </h2><br>
                        <p class="">“ ITM University-Gwalior” Campus is a delight to see. One sees hundreds of original
                            works of Art permanently displayed in common areas & monumental sculptures in marble,
                            granite, mild steel or stainless steel in open areas. There is so much of world class
                            curricular & extra curricular activities throughout the year that the city folks of the
                            Region eagerly awaits for each event. The largest Amphitheatre of India at ITM Campus
                            becomes witness to ever bubbling energies of youth. There is no barrier between students &
                            higher authorities in this Campus. Each student expresses through ITM’s various clubs ".</p>
                    </div>
                    <div class="col-md-5">
                        <img width="100%" class="img-fluid" src="https://images.collegedunia.com/public/college_data/images/campusimage/1621854364DSC_0046.jpg" alt="">
                    </div>
                </div><br>

                <div class="row featurette d-flex justify-content-center align-items-center ">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading fw-normal lh-1">Industrial Interface. </h2><br>
                        <p class="">ITM University has the highest footfalls of industrial leaders in central regions.
                            More than 20 CEO’s visit every year to share their experiences. We have an enviable track
                            record of highest number of placements in central regions. Since experts from industry are
                            at our Board of Studies our curriculum have rich inputs from them which eventually helps in
                            fine-tuning learning processes and shaping students. TCS, Infosys, HP, Wipro and HP are few
                            flagship companies who are regularly visiting our campus</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img width="100%" class="img-fluid" src="https://media.istockphoto.com/id/960512398/photo/business-team-around-the-table.jpg?s=170667a&w=0&k=20&c=4XpOP2FyJsZFFAdYMydvnHM9IIJF_PcJWknFK9Qc0no=" alt="">

                    </div>
                </div><br>

                <div class="row featurette d-flex justify-content-center align-items-center ">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">Extra-Curricular Activities.
                        </h2><br>
                        <p class="">Campus life will offer an endless feast to your mind. We offer a wealth of sporting
                            and cultural activity at the University. Initiatives ensure that aspiring performers enrich
                            their education with a high level of activity outside the lecture. Students beyond their
                            classroom will have countless opportunities for involvement and extracurricular enjoyment.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img width="100%" class="img-fluid" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201806/du_0.png?size=690:388" alt="">
                    </div>
                </div><br>
            </div>
        </div>

    </div>

    <%- include('./footer.ejs') %>