  <!--footer start-->
  <div class="container-fluid p-0 footer pt-4">
    <footer class="text-white text-center text-lg-start">
        <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 block_title">
                        <span>ABOUT US</span>
                    </h5>
                    <p>
                      We offer a wide array of undergraduate and postgraduate programs 
                    </p>
                    <p>
                      At ITM University, our mission is to empower students with knowledge and skills, 
                    </p>
                    <div class="mt-4">
                        <a href="" type="button" class="btn btn-floating  btn-lg box">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="" type="button" class="btn btn-floating  btn-lg box">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="" type="button" class="btn btn-floating  btn-lg box">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="" type="button" class="btn btn-floating  btn-lg box">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1 block_title">
                        <span>CONTACT</span>
                    </h5>
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                          <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">NH-44,BypassTurari,
                            Jhansi Road Gwl (M.P.)
                            475001,(INDIA)</span>
                        </li>
                        <li class="mb-3">
                          <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">admission@itmuniversity.ac.in</span>
                        </li>
                        <li class="mb-3">
                          <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91-7770234333 </span>
                        </li>
                        <li class="mb-3">
                          <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2"> +91-9698773919</span>
                        </li>
                      </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 block_title"><span>Opening hours</span></h5>
        
                    <table class="table text-center text-white">
                      <tbody class="font-weight-normal">
                        <tr>
                          <td>Mon - Thu:</td>
                          <td>8am - 9pm</td>
                        </tr>
                        <tr>
                          <td>Fri - Sat:</td>
                          <td>8am - 1pm</td>
                        </tr>
                        <tr>
                          <td>Sunday:</td>
                          <td>9am - 10pm</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
               
            </div>
        </div>
        <div class="text-center p-3 copy">
            © 2022 Copyright:
            <a class="text-white" href="https://www.linkedin.com/in/shyam-sharma-83397825b/" target="_blank">Shyam Sharma </a>
        </div>
    </footer>
</div>
<!--footer end-->



</body>

</html>



