<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font-awesom link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- javascript link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- css link -->
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>

<body>
    <section class="ab">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card page">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                    alt="" class="img-fluid girl">
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 text-black">
                                    <div class="d-flex align-items-center  pb-1">
                                        <img src="https://itmuniversity.ac.in/wp-content/uploads/2016/04/logo2rat.png"
                                            alt="" class="register_logo logo">
                                    </div>
                                    <h5 class="text-center regs_heading mb-3 pb-3">Register</h5>
                                    <% if(message.length> 0){ %>
                                        <div class="alert alert-danger">
                                            <%= message %>
                                        </div>

                                        <% } %>
                                            <form action="/insert"  enctype="multipart/form-data"   method="post">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Name" name="name" 
                                                        class="form-control mt-3" >
                                                </div>
                                                <div class="form-group">
                                                    <input type="email"  placeholder="Email"
                                                        name="email" class="form-control mt-3" >
                                                </div>
                                                <div class="form-group">
                                                    <input type="password"  placeholder="Password"
                                                        id="myInput1" name="password" class="form-control mt-3">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password"
                                                        placeholder="Confirm Password" id="myInput"
                                                        name="confirm_password" class="form-control mt-3" >
                                                </div>
                                                <input type="checkbox">
                                                <span>&nbsp;Show Password</span>
                                                <div class="form-group">
                                                    <input type="file" id="myInput" name="image"
                                                        class="form-control mt-3" required="" >
                                                </div>
                                                <div class="form-group text-center">
                                                    <button type="submit"
                                                        class="btn btn-info mt-3 form-control mb-3 register"
                                                        style="background: #12587a; color: #ffff">
                                                        Register</button>
                                                    <span class=" text-center pt-3">
                                                        "HAVE AN ACCOUNT?"
                                                        <a href="/" class="b">LOGIN NOW</a>
                                                    </span>
                                                </div>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>